# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

Benchmarks/Parboil/parboil/datasets/
Benchmarks/rodinia_2.4/data/
Benchmarks/Parboil/pb2.5benchmarks.tgz
Benchmarks/Parboil/pb2.5datasets_standard.tgz
Benchmarks/Parboil/pb2.5driver.tgz


Benchmarks/ispass2009-benchmarks/bin/
Benchmarks/common
Benchmarks/rodinia_2.4/bin/
Benchmarks/rodinia_2.4/cuda/backprop/backprop
Benchmarks/rodinia_2.4/bin/linux/cuda/backprop
Benchmarks/rodinia_2.4/cuda/dwt2d/dwt2d
Benchmarks/rodinia_2.4/cuda/heartwall/heartwall
Benchmarks/rodinia_2.4/cuda/hotspot/hotspot
Benchmarks/rodinia_2.4/cuda/hybridsort/hybridsort
Benchmarks/rodinia_2.4/cuda/kmeans/kmeans
Benchmarks/rodinia_2.4/cuda/lavaMD/lavaMD
Benchmarks/rodinia_2.4/cuda/mummergpu/bin/
Benchmarks/rodinia_2.4/cuda/mummergpu/src/obj/
Benchmarks/rodinia_2.4/cuda/nn/hurricane_gen
Benchmarks/rodinia_2.4/cuda/nn/nn
Benchmarks/rodinia_2.4/cuda/nn/nn_cuda.cu
Benchmarks/rodinia_2.4/cuda/nn/nn_cuda.cu.cpp
Benchmarks/rodinia_2.4/cuda/nw/needle
Benchmarks/rodinia_2.4/cuda/particlefilter/particlefilter_float
Benchmarks/rodinia_2.4/cuda/particlefilter/particlefilter_naive
Benchmarks/rodinia_2.4/cuda/pathfinder/pathfinder
Benchmarks/rodinia_2.4/cuda/streamcluster/sc_gpu
Benchmarks/rodinia_2.4/openmp/backprop/backprop
Benchmarks/rodinia_2.4/openmp/bfs/bfs
Benchmarks/rodinia_2.4/openmp/cfd/euler3d_cpu
Benchmarks/rodinia_2.4/openmp/cfd/euler3d_cpu_double
Benchmarks/rodinia_2.4/openmp/cfd/pre_euler3d_cpu
Benchmarks/rodinia_2.4/openmp/cfd/pre_euler3d_cpu_double
Benchmarks/rodinia_2.4/openmp/heartwall/heartwall
Benchmarks/rodinia_2.4/openmp/hotspot/hotspot
Benchmarks/rodinia_2.4/openmp/kmeans/kmeans_openmp/kmeans
Benchmarks/rodinia_2.4/openmp/lavaMD/lavaMD
Benchmarks/rodinia_2.4/cuda/lud/cuda/lud_cuda
Benchmarks/rodinia_2.4/openmp/lud/omp/lud_omp
Benchmarks/rodinia_2.4/openmp/nw/needle
Benchmarks/rodinia_2.4/openmp/pathfinder/pathfinder
Benchmarks/rodinia_2.4/openmp/srad/srad_v1/srad
Benchmarks/rodinia_2.4/openmp/srad/srad_v2/srad
Benchmarks/rodinia_2.4/openmp/streamcluster/sc_cpu
Benchmarks/rodinia_2.4/openmp/streamcluster/sc_omp
Benchmarks/rodinia_2.4/cuda/bfs/bfs
Benchmarks/rodinia_2.4/cuda/gaussian/gaussian
Benchmarks/rodinia_2.4/cuda/srad/srad_v2/srad
Benchmarks/rodinia_2.4/openmp/particlefilter/particle_filter
Benchmarks/Parboil/parboil/benchmarks/bfs/build/cuda_default/bfs
Benchmarks/Parboil/parboil/benchmarks/cutcp/build/
Benchmarks/Parboil/parboil/benchmarks/histo/build/
Benchmarks/Parboil/parboil/benchmarks/lbm/build/
Benchmarks/Parboil/parboil/benchmarks/mri-gridding/build/
Benchmarks/Parboil/parboil/benchmarks/mri-q/build/
Benchmarks/Parboil/parboil/benchmarks/sad/build/
Benchmarks/Parboil/parboil/benchmarks/sgemm/build/
Benchmarks/Parboil/parboil/benchmarks/spmv/build/
Benchmarks/Parboil/parboil/benchmarks/stencil/build/
Benchmarks/Parboil/parboil/benchmarks/tpacf/build/


*.ptx
*.sass
_cuobjdump_complete*
*.log
_ptxplus*
*.elf

SourceCode/gpgpu-sim/nbproject/

Benchmarks/Parboil/parboil/driver/__init__.pyc
Benchmarks/Parboil/parboil/driver/actions.pyc
Benchmarks/Parboil/parboil/driver/benchmark.pyc
Benchmarks/Parboil/parboil/driver/error.pyc
Benchmarks/Parboil/parboil/driver/futures.pyc
Benchmarks/Parboil/parboil/driver/globals.pyc
Benchmarks/Parboil/parboil/driver/options.pyc
Benchmarks/Parboil/parboil/driver/parboilfile.pyc
Benchmarks/Parboil/parboil/driver/process.pyc
Benchmarks/Parboil/parboil/driver/text.pyc



Benchmarks/ispass2009-benchmarks/MUM/1gpuwattch_gtx480.xml
Benchmarks/ispass2009-benchmarks/MUM/out.csv
Benchmarks/ispass2009-benchmarks/MUM/out.txt
Benchmarks/ispass2009-benchmarks/MUM/out.txtexit
Benchmarks/ispass2009-benchmarks/MUM/out1.txt
Benchmarks/ispass2009-benchmarks/MUM/out_1.txt
Benchmarks/ispass2009-benchmarks/MUM/out_2.txt
Benchmarks/ispass2009-benchmarks/MUM/out_gating.txt
Benchmarks/ispass2009-benchmarks/MUM/out_no_gating.txt
Benchmarks/ispass2009-benchmarks/MUM/out_org.txt
Benchmarks/ispass2009-benchmarks/MUM/out_shared_leakage.txt
Benchmarks/ispass2009-benchmarks/MUM/test.txt
Benchmarks/rodinia_2.4/cuda/hotspot/clean.sh
Benchmarks/rodinia_2.4/cuda/hotspot/out.txt
Benchmarks/rodinia_2.4/cuda/hotspot/out_gating.txt
Benchmarks/rodinia_2.4/cuda/hotspot/out_no_gating.txt
Benchmarks/rodinia_2.4/cuda/hotspot/out_org.txt
SourceCode/org_gpgpu-sim.zip


_ptx2*
_ptx*
out_*
gpgpu_inst_stats.txt*
SourceCode/org_gpgpu-sim/nbproject/
SourceCode/gpgpu-sim_for_motitvation/nbproject/*

*-Outputs
Benchmarks/NVIDIA_GPU_Computing_SDK_4.0/C/bin/linux/release/SdkConsoleLog.txt
Benchmarks/rodinia_2.4/cuda/b+tree/output.txt


Benchmarks/Paraboil/parboil/benchmarks/stencil/build/cuda_default/512x512x64x100.bin
Benchmarks/Paraboil/parboil/datasets/bfs/1M/input/graph_input.dat
Benchmarks/Paraboil/parboil/datasets/bfs/SF/input/graph_input.dat
Benchmarks/Paraboil/parboil/datasets/sad/large/output/out.bin
Benchmarks/Paraboil/parboil/datasets/spmv/large/input/Dubcova3.mtx.bin
Benchmarks/Paraboil/pb2.5datasets_standard.tgz
Benchmarks/Paraboil/parboil/benchmarks/mri-gridding/build/cuda_default/small.uks.data
Benchmarks/Paraboil/parboil/datasets/mri-gridding/small/input/small.uks.data
Benchmarks/Paraboil/parboil/datasets/stencil/default/input/512x512x64x100.bin







